/* CSS for iTraveller App

*/

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-user-select: text;                 /* prevent copy paste, to allow, change 'none' to 'text' */
}

/*
.ui-icon-itraveller-found
{
	background-image: url(../glyphish-icons/07-map-marker.png);
	
}
*/


/* Navigation Bar Icons Setup Below */

	.ui-navbar-custom .ui-btn .ui-btn-inner 
	{ 
		font-size: 11px!important;
		padding-top: 10px!important; 
		padding-bottom: 35px!important;
	
	}
	
	
	.ui-navbar-custom .ui-btn .ui-icon 
	{ 
		width: 30px!important; 
		height: 30px!important; 
		margin-left: -15px!important; 
		box-shadow: none!important; 
		-moz-box-shadow: none!important; 
		-webkit-box-shadow: none!important; 
		-webkit-border-radius: none !important; 
		border-radius: none !important; 
	}



	#find .ui-icon 
	{ 
	background:  url("../glyphish-icons/63-runner.png")
		50% 50% no-repeat; background-size: 18px 25px;
	}

	#found .ui-icon 
	{ 
	background:  url("../glyphish-icons/07-map-marker.png")
		50% 50% no-repeat; background-size: 16px 26px;
	}

	#photos .ui-icon 
	{ 
	background:  url("../glyphish-icons/43-film-roll.png")
		50% 50% no-repeat; background-size: 26px 22px;
	}
	
	#iconmap .ui-icon 
	{ 
	background:  url("../glyphish-icons/103-map.png")
		50% 50% no-repeat; background-size: 26px 21px;
	}


/*ListView for Nearby Page Needs Formatting to show long Text*/

	#nearbyListView p.ui-li-desc{
		/*height: 50px;*/
		white-space: normal;
		
	}



/* iphone 4 Screen Resolution 320 * 480 */

@media screen and (max-width: 320px) and (max-height: 480px)
{

		
	
	.maps {
  			height: 350px;
  			width: 315px;
  			border: 1px solid #000;
  			margin-left: 2px;
  			margin-top: 2px;
  			margin-right: 2px;
    	}
    	
    	
    @-webkit-keyframes Landmarks
    {
	   0% {background-image: url("../img/Animations/landmarks0.svg");}
	   10% {background-image: url("../img/Animations/landmarks11.svg");}
	   20% {background-image: url("../img/Animations/landmarks21.svg");}
	   30% {background-image: url("../img/Animations/landmarks31.svg");}
	   40% {background-image: url("../img/Animations/landmarks41.svg");}
	   50% {background-image: url("../img/Animations/landmarks51.svg");}
	   60% {background-image: url("../img/Animations/landmarks61.svg");}
	   70% {background-image: url("../img/Animations/landmarks71.svg");}
	   80% {background-image: url("../img/Animations/landmarks81.svg");}
	   90% {background-image: url("../img/Animations/landmarks91.svg");}
	   100% {background-image: url("../img/Animations/landmarks0.svg");}

	   
    }
    	
    	
    		

}



/* iPhone 5 Screen Resolution 320px X 586px */

@media screen and (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2)
{
	.maps {
			height: 438px;
			width: 315px;
			border: 1px solid #000;
  			margin-left: 2px;
  			margin-top: 2px;
  			margin-right: 2px;
		
	}
	
	

}
		





/* Used for Pad landscape Mode 1024 * 768 */

@media screen and (min-width: 768px) and (max-width: 1024px)
{

  	
    		#flexbox {
			display: -webkit-flexbox;
			width : 60%;
			height: 80%;
			-webkit-flex-wrap : wrap;
			-webkit-flex-flow: row; 
			margin-left: 20%;
			margin-right: 20%;
			

			}

			#flexbox > figure {
			width : 15%;
			width: -webkit-flex(1);
			border: 1px solid black;
			height : 10%;
			text-align: center;
			float : left;
			margin-left: 5px;
			margin-right: 5px;
			margin-top: 10px;
			border-radius: 15px;
			font-weight: bold;
			background-color: blue;
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#557AF2), to(#76A9E3));
			-webkit-box-shadow: 2px 2px 2px 2px #3928D4;
			

			}

			#flexbox > figure > figcaption {
			font-style: normal;
			font-family:Palatino Linotype;
			text-shadow:0px 0px #FF0000; 
			color: black;

			}

			
			.maps {
  			height: 550px;
    		width: 980px;
    		border: 1px solid #000;
    	   }
  

  
}

*/
