/* CSS for iTraveller App

*/

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}



@media screen and (max-width: 320px) and (max-height: 480px)
{

	/*
	ul > li {
		
		height: 70px;
		
		
	}
	
	ul > li a img {
		
		margin-left: 10px;
		margin-top: 10px;
		
	}

	*/





	/*
	#flexbox {
		display: block;
		width : 100%;
		height : 80%;
		margin-left: 1%;
		margin-right: 1%;
		}
	
	#flexbox > figure {
			width: 50px;
			height: 50px;
			float: left;
			
			}
			
	#flexbox > figure  figcaption {
			font-style: normal;
			font-family:Palatino Linotype;
			text-shadow:0px 0px #FF0000; 
			color: black;
			text-align: left;

			}
			
	#flexbox > figure:nth-of-type(3) {
		background-image: url("../img/Animations/landmarks0.svg");
		-webkit-animation: Landmarks 20s infinite;
			
		
	}
	*/
	
	*:link { text-decoration: none;}

/*
	a:[data-role="button"]{
		height: 94px !important;
		margin-top: 1.5px !important;
		margin-bottom: 2px !important
	}
*/

	
/*
	.ui-grid-a > div {
		height: 80px;
		border-radius: 50px;
		text-align: -webkit-center;
		margin-top: 1px;
		margin-bottom: 1px;
		
	}
*/
	
/*	
	
	.ui-grid-a > div.ui-block-a:nth-of-type(3){
		background-image: url("../img/Animations/landmarks0.svg");
		-webkit-animation: Landmarks 20s infinite;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
*/


	
	.ui-grid-a > div p{
		
		text-transform: lowercase ;
		color: #c833f9;
	}
	
	
	.maps {
  			height: 375px;
  			width: 315px;
  			border: 1px solid #000;
  			margin-left: 2px;
  			margin-top: 2px;
  			margin-right: 2px;
    	}
    	
    	
    @-webkit-keyframes Landmarks
    {
	   0% {background-image: url("../img/Animations/landmarks0.svg");}
	   10% {background-image: url("../img/Animations/landmarks11.svg");}
	   20% {background-image: url("../img/Animations/landmarks21.svg");}
	   30% {background-image: url("../img/Animations/landmarks31.svg");}
	   40% {background-image: url("../img/Animations/landmarks41.svg");}
	   50% {background-image: url("../img/Animations/landmarks51.svg");}
	   60% {background-image: url("../img/Animations/landmarks61.svg");}
	   70% {background-image: url("../img/Animations/landmarks71.svg");}
	   80% {background-image: url("../img/Animations/landmarks81.svg");}
	   90% {background-image: url("../img/Animations/landmarks91.svg");}
	   100% {background-image: url("../img/Animations/landmarks0.svg");}

	   
    }
    	
    	
    		

}

@media screen and (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2)
{
	.maps {
			height: 400px;
			width: 315px;
			border: 1px solid #000;
  			margin-left: 2px;
  			margin-top: 2px;
  			margin-right: 2px;
		
	}
	
	ul > li {
		
		height: 70px;
		
		
	}
	
	ul > li a img {
		
		margin-left: 10px;
		margin-top: 10px;
		
	}



}
		





/* Used for Pad landscape Mode 1024 * 768 */

@media screen and (min-width: 768px) and (max-width: 1024px)
{

  	
    		#flexbox {
			display: -webkit-flexbox;
			width : 60%;
			height: 80%;
			-webkit-flex-wrap : wrap;
			-webkit-flex-flow: row; 
			margin-left: 20%;
			margin-right: 20%;
			

			}

			#flexbox > figure {
			width : 15%;
			width: -webkit-flex(1);
			border: 1px solid black;
			height : 10%;
			text-align: center;
			float : left;
			margin-left: 5px;
			margin-right: 5px;
			margin-top: 10px;
			border-radius: 15px;
			font-weight: bold;
			background-color: blue;
			background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#557AF2), to(#76A9E3));
			-webkit-box-shadow: 2px 2px 2px 2px #3928D4;
			

			}

			#flexbox > figure > figcaption {
			font-style: normal;
			font-family:Palatino Linotype;
			text-shadow:0px 0px #FF0000; 
			color: black;

			}

			
			.maps {
  			height: 550px;
    		width: 980px;
    		border: 1px solid #000;
    	   }
  

  
}

*/
